img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 500px;
    border-radius: 250px;
    float: left;
    margin-top: 100px;
    margin-bottom: 50px;
}

.smallImg {
    margin: auto;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    float: left;
}

.textBackgroundA
{
    border-radius: 50px;
    background: cornflowerblue;
    padding: 20px;
    width: 200px;
    text-align: center;
    color: white;
}

.textBackgroundB
{
    border-radius: 50px;
    background: cornflowerblue;
    padding: 20px;
    width: 200px;
    text-align: center;
    color: white;
}

.textBackgroundC
{
    border-radius: 100px;
    padding: 30px;
    margin: auto;
    background: cornflowerblue;
    width: 200px;
    text-align: center;
    color: white;
    font-size: large;
    font-weight: bold;
    position: relative;
    display: flex;
    justify-content: center;
}

.Portfoliobackground
{
    border-radius: 100px;
    padding: 30px;
    margin: auto;
    background: cornflowerblue;
    width: 1000px;
    text-align: center;
    color: white;
    font-size: large;
    font-weight: bold;
    position: relative;
    display: flex;
    justify-content: center;
}

.textBackgroundB:hover
{
    border-radius: 50px;
    background: #111;
    border: 3px solid cornflowerblue;
}

.textBackgroundC:hover
{
    border-radius: 100px;
    background: #111;
    border: 3px solid cornflowerblue;
}

a:link { text-decoration: none; }

a:visited { text-decoration: none; }

a:hover { text-decoration: none; }

a:active { text-decoration: none; }

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #111;
    position: fixed;
    z-index:1;
    top: 0;
    width: 100%;
}

li
{
    float: left;
    border-right: 2px solid white;
}

li a
{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li:last-child {
    border-right: 2px solid white;
}

.active
{
    background-color: cornflowerblue;
}

li a:hover
{
    background-color: cornflowerblue;
}

.container {
    display: grid;
    align-items: center; 
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 150px;
    margin-bottom: 150px;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 200px;
    position: relative;
    display: flex;
    justify-content: center;
}

.Portfoliocontainer {
    display: grid;
    align-items: center; 
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 200px;
    position: relative;
    display: flex;
    justify-content: center;
}

.Peoplecontainer {
    display: grid;
    align-items: center; 
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
    margin-left: 25px;
    margin-right: 25px;
    position: relative;
    display: flex;
    justify-content: center;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.accordion:hover {
    background-color: cornflowerblue;
    color: white;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 18px;
    background-color: whitesmoke;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.Skillcontainer
{
    width: 100%;
    display: table;
}

.Skillheader
{    
    min-height: 20px;
    text-align: center;
    font-size: large;
    font-weight: bold;
}

.Skill
{    
    min-height: 20px;
    font-size: large;
    font-weight: bold;
}

.side
{
    display: table-cell;
}

.containerB {
    display: grid;
    align-items: center; 
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 200px;
    margin-left: 50px;
    margin-right: 50px;
    position: relative;
    display: flex;
    justify-content: center;
}

.Faqcontainer
{
    padding: 100px;
}

.Hellocontainer
{
    font-size: smaller;
}

.Footercontainer
{
    background-color: #111;
    padding: 30px;
    width: 250px;
    height: 250px;
    border-radius: 125px;
    text-align: center;
    display: grid;
    margin: auto;
    color: white;
}

.Faqheader
{
    margin-left: 50px;
    font-size: large;
    font-weight: bold;
}

.Welcomeheader
{
    font-size: large;
    font-weight: bold;
}

.Peopleheader
{
    font-weight: bolder;
    font-size: medium;
}

.Peoplejob
{
    font-weight: bold;
    font-size: small;
}

.Peoplesay
{
    padding: 100px;
    background-color: #eee;
}

.Resumecontainer
{
    padding: 100px;
}

.PortfolioTitlecontainer
{
    padding: 50px;
}

.Textlarge
{
    font-size: x-large;
}

.TextXXLarge
{
    font-size: xx-large;
}​